/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height: 100vh; */
    background-color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Big Shoulders Display', cursive;

font-family: 'Karla', sans-serif;
font-family: 'Lexend Deca', sans-serif;

}
.container{
    width: 70%;
    margin: 10em auto;
    max-width: 1440px;
    
    height: 500px;
    
    border-radius: 10px;
    display: flex;
    line-height: 1.6;
    overflow: hidden;
    
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin: 20px 0 20px 0;
}
.col  {
    width: 33.33%;
    height: 100%;
    padding: 25px 5px 25px 25px;
}
.first{
    
    background-color: hsl(31, 77%, 52%)

}
.second{
    
    background-color:  hsl(184, 100%, 22%)
   

}
.third{
    background: hsl(179, 100%, 13%)
}
section p{
    margin-bottom: 50px;
    color:hsla(0, 0%, 100%, 0.75);
}
section a{
    text-decoration: none;
    padding:10px;
    border:2px solid hsl(0, 0%, 95%);
    border-radius: 10px;
    color:hsl(0, 0%, 95%);
    width:100%;
    
}
a:hover{
    background:hsl(0, 0%, 95%)
}

div .atrribution{
    
    text-align: center;
    margin-left: 100px;
}
@media (max-width:750px){
    .container{
        display: block;
        height:100%;
        
    }
    
    .first{
        width: 100%;
       
        
    }        
    .second{
        width: 100%;
        
    }
    .third{
        width: 100%;
        
    }

}
